h1, h2  {
    color:rebeccapurple;
    font-size: 95px;
    font-family: Helvetica;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 1px;
    border: 1px solid black;
    padding-top: 15px;
    padding-left: 10px;
}
p   {
    text-align:center;
    font-family: Helvetica;
}
img {
    height: 300px;
}
em {
    text-transform: uppercase;
    font-style: initial;
}
body {
    background-color: lightslategray;
}
/* example of a ID */    
#first {
    text-align: left;
}
/* example of a class */
.right {
    text-align: right;
}
.tacos{
    color: yellow;
}
.big {
    font-size: 90px;
}

.tacos .big {
    font-family: 'Franklin Gothic Medium';
}

p.tacos .big{
    text-transform: uppercase;
}